.button1{
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 20px;
    font-size: 22px;
}

.button1:hover{
    background-color: yellow;
    color: black
}

.button2{
    background-color: #563d7c;
    color: yellow;
    border: 1px solid green;
    border-radius: 20px;
    font-size: 25px;
    transform: translate(60px,30px);
}

.button4{
    background-color: #563d7c;
    color: yellow;
    border: 1px solid green;
    border-radius: 20px;
    font-size: 25px;
    transform: translate(40px,30px);
}


.button2:hover{
    background-color: yellow;
    color: black
}

.button3{
    background-color: #563d7c;
    color: yellow;
    border: 1px solid green;
    border-radius: 20px;
    font-size: 25px;
    transform: translate(5px,30px);
}

.button3:hover{
    background-color: yellow;
    color: black
}


.f1{
    position: relative;
}

.div1{
    position: absolute;
}

.suivant{
    background-color: #563d7c;
    color: yellow;
    border: 1px solid green;
    border-radius: 20px;
    font-size: 25px;
    transform: translate(100px,30px);
}

.suivant:hover{
    background-color: yellow;
    color: black;
}

.h1{
    text-align: center;
}

.card{
    background-color:gainsboro;
    border:1px solid #333;
    border-radius: .5rem;
    padding: 1.6rem;
    padding-bottom: 40px;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 5px 6px 8px #d3f7ff71;
    opacity: 0.8;
    transform: translate(-200px,30px);
    display: none;
    
}



.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25rem;
}

.form-group:last-child{
    margin:0;
}

.form-group > label {
    font-weight: bold;
    font-size:20px;
    color:#333;
}

.form-group >input {
    border:1px solid #333;
    border-radius: 10px;
    font-size: 1rem;
    padding: .25em;
}

.step-title{
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

th{
    border: 1px solid black;
    background-color: #333;
    color: white;
    font-size: 17px;
}


.tab1{
    transform: translate(700px,-450px);
    border-collapse: collapse;
    border: 1px black solid;
}

.card.active{
    display: block;
}

@media screen and (width<990px){
    .card{
        background-color:gainsboro;
        border:1px solid #333;
        border-radius: 1.5rem;
        padding: 1rem;
        padding-bottom: 40px;
        max-width: 300px;
        margin: 0 auto;
        box-shadow: 5px 6px 8px #d3f7ff71;
        opacity: 0.8;
        transform: translate(-1px,30px);
        display: none;
        
    }
    
    .button3{
        background-color: #563d7c;
        color: yellow;
        border: 1px solid green;
        border-radius: 20px;
        font-size: 25px;
        transform: translate(5px,30px);
    }

    .suivant{
        background-color: #563d7c;
        color: yellow;
        border: 1px solid green;
        border-radius: 20px;
        font-size: 25px;
        transform: translate(100px,30px);
    }

    .button2{
        background-color: #563d7c;
        color: yellow;
        border: 1px solid green;
        border-radius: 20px;
        font-size: 25px;
        transform: translate(60px,30px);
    }
    
    .tab1{
        transform: translate(200px,200px);
        border-collapse: collapse;
        border: 1px black solid;
    }
    
    
}
